name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'


      - name: Check Node/NPM/Vite version
        run: |
          node -v
          npm -v
          npx vite --version

      - name: Install dependencies
        run: npm ci

      - name: Fix vite permission
        run: chmod +x node_modules/.bin/vite
      
      - name: Build
        run: npx vite build

      - name: List dist contents
        run: |
          ls -al dist || dir dist

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
